<nav id="nav" class="nav">
	<ul>
		<li><a href="{{ url1 }}">Home</a></li>
		<li><a href="{{ url2 }}">Rates</a></li>
		<li><a href="{{ url3 }}">Personal Trainer</a></li>
		<li><a href="{{ url4 }}">Calendar</a></li>
		<li><a href="{{ url5 }}">Contact</a></li>
	</ul>
</nav><!--end .nav-->
