/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

.call2action{
	background-color: #999;
	background-opacity: .6;
}

.slide_area{

}

.7day{

}

h1{
	color: red;
}

.blog{
	background-color: #999;
}