<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #BA4911;"></span>
		<span class="sg-label">#BA4911</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #A19A97;"></span>
		<span class="sg-label">#A19A97</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #367391;"></span>
		<span class="sg-label">#367391</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #369180;"></span>
		<span class="sg-label">#369180</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #2D3030;"></span>
		<span class="sg-label">#2D3030</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ff00ff;"></span>
		<span class="sg-label">#ff00ff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #EB83B9;"></span>
		<span class="sg-label">#EB83B9</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #333633;"></span>
		<span class="sg-label">#333633</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">#000000</span>
	</li>
</ul>