<ul>
	<li><a href="#" class="social-icon">Facebook</a></li>
	<li><a href="#" class="social-icon">Twitter</a></li>
	<li><a href="#" class="social-icon">RSS</a></li>
	<li><a href="#" class="social-icon">LinkedIn</a></li>
	<li><a href="#" class="social-icon">G+</a></li>
</ul>