<ul>
	<li><a href="#" class="social-icon"><img src="../../images/facebook.png" /></a></li>
	<li><a href="#" class="social-icon"><img src="../../images/twitter.png" /></a></li>
	<li><a href="#" class="social-icon"><img src="../../images/rss.png" /></a></li>
	<li><a href="#" class="social-icon"><img src="../../images/youtube.png" /></a></li>
	<li><a href="#" class="social-icon"><img src="../../images/gplus.png" /></a></li>
</ul>

