<ul>
	<li><a href="#" class="social-icon"><img src=("../../images/facebook.png") />Facebook</a></li>
	<li><a href="#" class="social-icon"><img src=("../../images/twitter.png") />Twitter</a></li>
	<li><a href="#" class="social-icon"><img src=("../../images/rss.png") />RSS</a></li>
	<li><a href="#" class="social-icon"><img src=("../../images/linkedin.png") />LinkedIn</a></li>
	<li><a href="#" class="social-icon"><img src=("../../images/gplus.png") />G+</a></li>
</ul>

