<div class="page" id="page">
	{{> organisms-hfheader }}
	<div role="main">
		<div class="l-two-col">
			<div class="l-main">

			</div><!--end l-main-->

			<div class="l-sidebar">

			</div><!--end l-sidebar-->
		</div><!--end l-two-col-->	
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>