&lt;ul&gt;
	&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;social-icon&quot;&gt;Facebook&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;social-icon&quot;&gt;Twitter&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;social-icon&quot;&gt;RSS&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;social-icon&quot;&gt;LinkedIn&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;social-icon&quot;&gt;G+&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;