&lt;a href=&quot;{{ url }}&quot;&gt;&lt;img src=&quot;../../images/facebook.png&quot; class=&quot;social_media_icon&quot; alt=&quot;SocialIcon&quot; /&gt;&lt;/a&gt;

&lt;a href=&quot;{{ url }}&quot;&gt;&lt;img src=&quot;../../images/twitter.png&quot; class=&quot;social_media_icon&quot; alt=&quot;SocialIcon&quot; /&gt;&lt;/a&gt;

&lt;a href=&quot;{{ url }}&quot;&gt;&lt;img src=&quot;../../images/youtube.png&quot; class=&quot;social_media_icon&quot; alt=&quot;SocialIcon&quot; /&gt;&lt;/a&gt;

&lt;a href=&quot;{{ url }}&quot;&gt;&lt;img src=&quot;../../images/gplus.png&quot; class=&quot;social_media_icon&quot; alt=&quot;SocialIcon&quot; /&gt;&lt;/a&gt;

&lt;a href=&quot;{{ url }}&quot;&gt;&lt;img src=&quot;../../images/rss.png&quot; class=&quot;social_media_icon&quot; alt=&quot;SocialIcon&quot; /&gt;&lt;/a&gt;
