&lt;nav id=&quot;nav&quot; class=&quot;nav&quot;&gt;
	&lt;ul&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url1 }}&quot;&gt;Home&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url2 }}&quot;&gt;Rates&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url3 }}&quot;&gt;Personal Trainer&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url4 }}&quot;&gt;Calendar&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url5 }}&quot;&gt;Contact&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url5 }}&quot;&gt;Nowhere&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/nav&gt;&lt;!--end .nav--&gt;
