<!-- Begin .header -->
<header class="header cf" role="banner">
	{{> atoms-hflogo }}
	<!--<a href="#search-form" class="nav-toggle nav-toggle-search icon-search"><span class="is-vishidden">Search</span></a>
	<a href="#nav" class="nav-toggle nav-toggle-menu icon-menu"><span class="is-vishidden">Menu</span></a>-->
	{{> molecules-hfprimary-nav }}
	<!--{{> molecules-search }}-->
	{{> atoms-hfsocialicon}}
</header>
<!-- End .header -->