<a href="{{ url }}"><img src="../../images/facebook.png" class="social_media_icon" alt="SocialIcon" /></a>

<a href="{{ url }}"><img src="../../images/twitter.png" class="social_media_icon" alt="SocialIcon" /></a>

<a href="{{ url }}"><img src="../../images/youtube.png" class="social_media_icon" alt="SocialIcon" /></a>

<a href="{{ url }}"><img src="../../images/gplus.png" class="social_media_icon" alt="SocialIcon" /></a>

<a href="{{ url }}"><img src="../../images/rss.png" class="social_media_icon" alt="SocialIcon" /></a>
